<ion-card>
  <ion-grid>
    <ion-row>
      <ion-col size = "3">
        <ion-img  alt="'film.original_title'" [src]="'https://image.tmdb.org/t/p/w500' + film.poster_path"></ion-img>
        <ion-card-subtitle>{{film.vote_average | number: '1.0-2'}}<ion-icon name="star"></ion-icon></ion-card-subtitle>
      </ion-col>
      <ion-col size="9" size-xs="8">
        <ion-card-header>
            <ion-card-title>
              {{(film.original_title ? (film.original_title | slice: 0:25) : (film.name | slice: 0:25)) +
                ((film.original_title && film.original_title.length > 25) || (film.name && film.name.length > 25) ? '...' : '')}}
            </ion-card-title>
        </ion-card-header>
      
        <ion-card-content>
            {{film.overview |slice:0:80 }}{{ film.overview.length > 80 ? '...' : '' }}
        </ion-card-content>
          <ion-button class="verMas" size="small" color="light">Ver más</ion-button>
          <ion-icon class="heart" name="heart" (click)="like()"
            [style.color]="favoritosService.esFavorito(film) ? 'red' : 'grey'"
            [ngClass]="{'clicked': favoritosService.esFavorito(film)}">
          </ion-icon>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-card>
