ion-content {
    --background: rgb(24, 23, 23);
    text-align: center; /* Alinea el contenido del ion-content al centro */

    h2 {
        color: rgb(255, 198, 207);
        display: inline-block; 
    }
  }
