ion-content {
    --background: rgb(24, 23, 23);
    text-align: center;

    h2 {
        color: rgb(181, 162, 165);
        display: inline-block; 
    }

}
.titulo{
    text-align: center;
    margin-left: 20rem;
    font-size: 1.7rem;
}

ion-toolbar{
    --opacity: 95%;

}
