<ion-header  [translucent]="true" class="ion-no-border">
  <ion-toolbar color="dark">
  <ion-grid>
    <ion-row>
      <ion-col size="9">
        <h3 class="titulo">Tendencias de la semana</h3>
      </ion-col>
      <ion-col size="3">
        <ion-searchbar 
          placeholder="Buscar" 
          [debounce]="1000" 
          animated="true" 
          (ionChange)="searchFilm($event)">
        </ion-searchbar>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-toolbar>
</ion-header>



<ion-content [fullscreen]="true">

  <div *ngIf="results.length > 0">
    <div *ngFor="let film of results">
      <ion-grid fixed>
        <ion-row>
          <ion-col size="12" size-lg="6" size-md="12" size-sm="12" size-xs="12">
            <app-film [film]="film" [enFavoritos]="enFavoritos"></app-film>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </div>
  
  <p *ngIf="isSearching && results.length === 0">No hay resultados</p>

    <div [hidden]="results.length > 0 || isSearching">
      <app-films 
        [films]="films"
        [enFavoritos]="enFavoritos"
      ></app-films>
      </div>


  <ion-infinite-scroll (ionInfinite)="onIonInfinite($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>