ion-content {
    --background: rgb(24, 23, 23);
    text-align: center;

    h2 {
        color: rgb(181, 162, 165);
        display: inline-block; 
    }

}
// .custom1{
//  width: 11.5rem;
//  height: 2.5rem;
//  margin-left: 62rem;
// }



.titulo{
    text-align: center;
    margin-left: 20rem;
}

ion-toolbar{
    --opacity: 95%;

}