
<ion-content>
  <ion-icon class="arrow" (click)="goBack()" name="arrow-back-outline"></ion-icon>
  <ion-card *ngIf="movie" >
    <ion-grid>
      <ion-row>
        <ion-col size="3">
          <img alt="Silhouette of mountains" [src]="'https://image.tmdb.org/t/p/w500' + movie.poster_path" />
        </ion-col>
        <ion-col>
          <ion-card-header>
            <ion-card-title>{{movie.original_title ? movie.original_title : movie.name}}</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <p>{{movie.overview}}</p><br>
            <p>Idioma original: {{movie.original_language}} </p>
            <p>Fecha de estreno: {{movie.release_date}} </p>
          </ion-card-content>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>
</ion-content>





