ion-content {
    --background: rgb(24, 23, 23);
    text-align: center;
}
.titulo{
    text-align: center;
    font-size: 1.7rem;
    margin-top: 0.7rem;
    margin-left: 13rem;
}
h2 {
    color: rgb(255, 198, 207);
    display: inline-block; 
}
ion-card{
    --background: rgb(15, 15, 15);
    font-size: 4rem;
}
ion-card-title{
    color: white;
}
ion-img{
    width: 7rem;
}
ion-card-content{
    text-align: justify;
    text-justify: inter-word;
}
ion-card-subtitle{
    margin-top: 0.75rem;
    color: white;
}
ion-icon.heart {
    font-size: 1.7rem;
    margin-right: -40%;
    cursor: pointer;
}

ion-icon.heart:hover {
    color: red !important;
}
ion-button{
    margin-right: 40%;
}
.flecha{
    color:white;
    margin-top: 0.7rem;
    margin-left: 1rem;
    font-size: 2.2rem;
    cursor: pointer;
}
ion-toolbar {
    --color: white;
}
.noResults{
    color: white;
    font-size: 1.3rem;
}

.custom-toolbar{
    --background: rgb(32, 33, 32); 
    --color: #fff;  
}

.back-button {
    color: white !important; 
  }

  .titulo {
    font-family: 'Poppins', sans-serif;
    font-size: 2.1rem;
    font-weight: 800;
    background: linear-gradient(45deg, #1a2980, #26d0ce);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
    animation: fadeIn 1.5s ease-in-out; 
}

@keyframes fadeIn {
    0% { opacity: 0; transform: translateY(-10px); }
    100% { opacity: 1; transform: translateY(0); }
}