ion-content {
    --background: rgb(24, 23, 23);
    text-align: center;
}
.titulo{
    text-align: center;
    font-size: 1.7rem;
    margin-top: 0.7rem;
    margin-left: -6rem;
}
h2 {
    color: rgb(255, 198, 207);
    display: inline-block; 
}
ion-card{
    --background: rgb(15, 15, 15);
    font-size: 4rem;
}
ion-card-title{
    color: white;
}
ion-img{
    width: 7rem;
}
ion-card-content{
    text-align: justify;
    text-justify: inter-word;
}
ion-card-subtitle{
    margin-top: 0.75rem;
    color: white;
}
ion-icon.heart{
    font-size: 1.7rem;
    margin-right: -40%;
    cursor: pointer;
    &:hover, &.clicked {
        color: red;
      }
}
ion-button{
    margin-right: 40%;
}
.flecha{
    color:white;
    margin-top: 0.7rem;
    margin-left: 1rem;
    font-size: 2.2rem;
    cursor: pointer;
}
ion-toolbar {
    --color: white;
}
ion-icon.heart{
    font-size: 1.7rem;
    margin-right: -40%;
    cursor: pointer;
    &:hover, &.clicked {
        color: red;
      }
}